{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-light">
                        <div class="card-header">
                            <h3 class="card-title">Bon de Livraison</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_row(form.reference) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_row(form.dateLivraison) }}
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_row(form.transporteur) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        {{ form_row(form.commande) }}
                                    </div>
                                </div>
                            </div>
                            <div class="float-right">
                                <div class="d-inline-block">
                                    <a href="{{ path('livraison') }}" class="btn btn-danger">Annuler</a>
                                </div>
                                <div class="d-inline-block">
                                    {{ form_row(form.submit) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}


