{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block content %}
    <section class="content">
    <div class="container-fluid">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">Generer Nouvelle Code Barre</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12-md">
                                <div class="form-group">
                                    {{ form_row(form.code) }}
                                    {{ form_errors(form.code) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.produit) }}
                                    {{ form_errors(form.produit) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6-md">
                                <div class="form-group m-2">
                                    <a href="{{ path('bar_code') }}" class="btn btn-danger ">Annuler</a>
                                </div>
                            </div>
                            <div class="col-6-md">
                                <div class="form-group m-2">
                                    {{ form_row(form.submit) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            $.ajax({
                url: Routing.generate('api_produits_listes_json'),
                method: 'GET',
                success: function (data) {
                    console.log(data);
                }
            });
            var produits = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $( "#bar_code_code" ).autocomplete({
                source: produits
            });
        } );
    </script>
{% endblock %}


