{% extends 'base.html.twig' %}

{% block title %}Listes Produits{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
    <div class="d-flex align-items-end flex-column">
        <div class="mt-auto p-2">
            <a class="btn btn-info" href="{{ path('produit_add') }}">Ajouter Produit</a>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listes des Produits</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0 scrollTable" >
                    <table class="table table-hover table-produit">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom Produit</th>
                            <th>Reference</th>
                            <th>Date</th>
                            <th>Production</th>
                            <th>Nombre de Tamissage</th>
                            <th>Poids Final</th>
                            <th>Mesure de Brix</th>
                            <th>Nombres de boites produits </th>
                            <th style="width : 20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in produits %}
                        <tr>
                            <td>{{ produit.id }}</td>
                            <td>{{ produit.name }}</td>
                            <td>{{ produit.reference }}</td>
                            <td class="text-center">{{ produit.createdAt | date('d/m/Y') }}</td>
                            <td class="text-center">{{ produit.category.name }}</td>
                            <td class="text-center">{{ produit.nombreTamissage }} </td>
                            <td class="text-center">{{ produit.poidFinal }} Kg</td>
                            <td class="text-center">{{ produit.mesureBrix }} Kg</td>
                            <td class="text-center">{{ produit.nbrBoiteProduite}} </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-default btn-sm" href="{{ path('produit_view',{"id": produit.id}) }}">
                                    <i class="fas fa-eye">
                                    </i>
                                </a>
                                <a class="btn btn-default btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
    </div>
</section>
{% endblock %}
