{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Detail Produit</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Nombre de boites Produictions</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ produit.nbrBoiteProduite }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Nombre de Tamissage</span>
                                        <span class="info-box-number text-center text-muted mb-0">{{ produit.nombreTamissage }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Poid des Fruit Achetés [kg]</span>
                                        <span class="info-box-number text-center text-muted mb-0">20 <span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Nom</th>
                                        <th style="width: 100px">Valeur</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>Poids des Fruits achetés [kg]</td>
                                        <td>
                                            <span class="badge bg-info">
                                                {{ produit.poidDufruitAcheter }} Kg
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Poids des Fruits épluchés [kg]</td>
                                        <td><span class="badge bg-info">{{ produit.poidDufruitepluches }} Kg</span></td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <td>Passage Raffineuse</td>
                                        <td><span class="badge bg-info">{{ produit.passageRaffiner }}</span></td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <td>Nombre de Tamisage</td>
                                        <td>
                                            <span class="badge bg-info">{{ produit.nombreTamissage }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5.</td>
                                        <td>Poids des Fruits Tamissée [kg] </td>
                                        <td>
                                            <span class="badge bg-info">{{ produit.poidDuFruitTamisse }} Kg</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6.</td>
                                        <td>Passage Emuisionneuse </td>
                                        <td>
                                            <span class="badge bg-info">{{ produit.passageEmissionneuse }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7.</td>
                                        <td>Quantité d'eau Ajoutée [litres] </td>
                                        <td>
                                            <span class="badge bg-info">{{ produit.qteEau }}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h3 class="text-primary"><i class="fas fa-paint-brush"></i> {{ produit.name }}</h3>
                        <p class="text-muted">
                            {{ produit.description }}
                        </p>
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">Production
                                <b class="d-block">{{ produit.category.name }}</b>
                            </p>
                            <p class="text-sm">Reference
                                <b class="d-block">{{ produit.reference }}</b>
                            </p>
                            <p class="text-sm">Date
                                <b class="d-block">{{ produit.createdAt | date('d/m/Y') }}</b>
                            </p>
                        </div>
                        <h5 class="mt-5 text-muted">Actions</h5>
                        <div class="mt-1 mb-3">
                            <a href="#" class="btn btn-sm btn-default">
                                <i class="fas fa-print"></i>
                                Imprimer
                            </a>
                            <a href="#" class="btn btn-sm btn-default">
                                <i class="fas fa-edit"></i>
                                Editer
                            </a>
                        </div>
                        <div class="mt-1 mb-3">
                            <a href="#" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                                Supprimer
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}



