{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-light">
                        <div class="card-header">
                            <h3 class="card-title">Informations</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                    {{ form_row(form.firstname) }}
                                    {{ form_errors(form.firstname) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_row(form.lastname) }}
                                        {{ form_errors(form.lastname) }}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Adresse Email</label>
                                        {{ form_widget(form.email) }}
                                        <div class="error-validation">
                                            {{ form_errors(form.email)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_row(form.adresse) }}
                                        {{ form_errors(form.adresse) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <a href="{{ path('client') }}" class="btn btn-danger btn-sm">Annuler</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form_row(form.Enregistrer) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}

