{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex align-items-end flex-column">
                <div class="mt-auto p-2">
                    <a class="btn btn-info" href="{{ path('user_add_client') }}">Ajouter Nouveau Client</a>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Listes les clients</h3>
                            <div class="card-tools">
                                <form>
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="query" class="form-control float-right" placeholder="Recherche...">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0 scrollTable" >
                            <table class="table table-hover table-produit">
                                <thead>
                                <tr>
                                    <th>Nom Client</th>
                                    <th>Prénom Client</th>
                                    <th>Adresse</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th style="width : 20%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>
                                            <a href="#">
                                                {{ user.firstname }}
                                            </a>
                                        </td>
                                        <td> {{ user.lastname }}</td>
                                        <td class="text-center">{{ user.adresse }}</td>
                                        <td class="text-center"> {{ user.email }}</td>
                                        <td class="text-center">
                                            {% for role in user.roles %}
                                                <span class="badge badge-success">{{ role }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-default btn-sm" href="#">
                                                <i class="fas fa-eye">
                                                </i>
                                            </a>
                                            <a class="btn btn-default btn-sm" href="{{ path('user_client_edit',{id:user.id}) }}">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm " href="#" data-id="#">
                                                <i class="fas fa-trash">
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <div class="navigation">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
{% endblock %}

